<div>
  <h1>Popular Trip Locations Near You</h1>
  <h1>Top Destinations for: {{userLocation}}</h1>
  <p class="text-center">Users in your area frequently travel to these locations</p>
  <div class="container mt-4">
    <div class="row">
      {{#each locations}}
        <div class="card" style="width: 18rem; margin: 6px;"><img
            class="card-img-top"
            src="{{this.img}}"
            width="300"
            height="200"
          />
          <div class="card-body"><h2 class="card-text">{{this.name}}</h2><a
              href="/trips/add?destination={{this.name}}"
              class="btn btn-primary"
            >Create Trip</a></div>
        </div>
      {{/each}}
    </div>
  </div>
</div>