<main>
    <nav class="navbar navbar-light bg-light border-bottom border-1 border-dark">
        <div class="container-fluid">
                <div class="navbar" style="width:10%">
                    <a href="/trips" class="btn">
                        <button type="button" name="back_button" id="back_button" class="btn">
                            <img src="/public/images/back-button.png" alt="back_button">
                        </button>
                    </a>
                </div>
                <div class="nav-item"><h1 class="center">Update Your Account here</h1></div>       
                <form action="/profile/logout" method="POST" style="width: 10%;">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Out</button>      
                </form> 
        </div>
    </nav>
    <br>
    <form action="/profile" method="PATCH">
        <center>
            <label>
                Change Username:
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            </label>
            <br><br>
            <label>
                Change Password:
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </label>
            <br><br>
            <label>
                Confirm New Password:
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" class="form-control">
            </label>
            <br><br>
            <a href="/profile/feedback">Send Feedback</a>

            {{#if error}}
            <p class="error">{{error}}</p>
            {{/if}}
            {{#if success}}
            <p class="text-success">{{success}}</p>
            {{/if}}
        </center>
</main>
            <footer class="footer mt-auto py-3 bg-primary">
                <div class="d-grid">
                    <button type="submit" name="save_changes" id="save_changes" class="btn btn-primary btn-lg mx-2">Submit</button>
                </div>
            </footer>
    </form>
    