body,
html {
  background-color: lavender;
  /* background-image: url("/public/images/background_1.png");*/
  /*background-blend-mode: luminosity;*/
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 50%;
  height: 100vh;
}

.index_title {
  color: #b1340f;
  text-align: center;
}

h1 {
  text-align: center;
  color: #b1340f;
}

h2 {
  text-align: center;
}

.text_activity {
  text-align: center;
  color: black;
  font-style: italic;
  font-size: 14pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  position: sticky;
  height: fit-content;
}

.error {
  margin-top: 20px;
  color: red;
  background-color: white;
  border-radius: 10px;
}

.text-primary {
  text-align: center;
}

.paragraph {
  color: black;
  font-size: 14pt;
  font-style: italic;
  text-align: center;
}

.success {
  margin-top: 10%;
  color: green;
  background-color: white;
  border-radius: 10px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

div.col-12 a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 20px;
}
.trip-info {
  text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-between;
}
.treeps {
  color: antiquewhite;
}
a:hover {
  color: black;
}
.icon {
  background: url("../images/travel.png");
  height: 20px;
  width: 20px;

  /* Other styles here */
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.location-list {
  text-align: center;
  list-style: none;
  padding: 0%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
